# Database Setting
DB_ROOT_PASSWORD=admin1234
DB_NAME=writing_db
DB_USER=yoon9531
DB_PASSWORD=admin1234

# JWT Secret (32자 이상 아무거나)
JWT_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

REDIRECT_URL=